button {
    padding: 0.5em 1em !important;
    border: 2px solid $primary-contrast;
    border-radius: 5px;
}

button.primary-btn {
    background: $primary-contrast !important;
    color: #fff !important;
}

.light-theme {
    button {
        background: $light-bg;
        color: $light-text;
    }
}

.dark-theme {
    button {
        background: $dark-bg;
        color: $dark-text;
    }
}