/* You can add global styles to this file; and also import other style files */
@import "~@angular/material/theming";
@include mat-core();

$wishes-primary-green: (
    50 : #e2f7ea,
    100 : #b6eccb,
    200 : #85dfa8,
    300 : #54d285,
    400 : #2fc86b,
    500 : #0abe51,
    600 : #09b84a,
    700 : #07af40,
    800 : #05a737,
    900 : #039927,
    A100 : #c4ffcf,
    A200 : #91ffa5,
    A400 : #5eff7b,
    A700 : #45ff66,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    ),
);

$wishes-secondary-gray: (
    50: #fafafa,
    100: #f5f5f5,
    200: #eeeeee,
    300: #e0e0e0,
    400: #bdbdbd,
    500: #9e9e9e,
    600: #757575,
    700: #616161,
    800: #424242,
    900: #212121,
    A100: #ffffff,
    A200: #eeeeee,
    A400: #bdbdbd,
    A700: #616161,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $light-primary-text,
    ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wishes-frontend-primary: mat-palette($wishes-primary-green, 500, 50, 800);
$wishes-frontend-accent: mat-palette($wishes-secondary-gray, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wishes-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wishes-frontend-theme: mat-light-theme(
    $wishes-frontend-primary,
    $wishes-frontend-accent,
    $wishes-frontend-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wishes-frontend-theme);

@import './assets//styles/base/colors';
@import './assets//styles/base/button';

@import './assets/styles/material/accordian';
@import './assets/styles/material/tabs';
@import './assets/styles/material/cards';
@import './assets/styles/material/dialog';
@import './assets/styles/material/input';
@import './assets/styles/material/snackbar';
@import './assets/styles/material/select';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$brand: #0ABE51;
$unread:#4593E2;
$mention:#FF615B;
$pill:#F6A623;

$presence-online:#0ABE51;
$presence-away:#F6A623;
$presence-offline:#E1E1E1;

$primary-bg:#FFFFFF;
$secondary-bg:#EEEEEE;

$primary-text:#333333;
$secondary-text:#888888;

$border:#E1E1E1;

$team-switcher-bg:#333333;

$dialog-primary-bg:#FFFFFF;
$dialog-secondary-bg:#EEEEEE;

$button-primary:#0ABE51;
$button-primary-active:#008E3E;
$button-primary-text:#FFFFFF;

$button-secondary:#E1E1E1;
$button-secondary-active:#B6B6B6;
$button-secondary-text:#333333;

$button-tertiary:#FF615B;
$button-tertiary-active:#D74E49;
$button-tertiary-text:#FFFFFF;

$primary-bg: #212327;
$secondary-bg: #2F3136;

$primary-text: #AAAAAA;
$secondary-text: #898A8C;

$border: #4A4C4F;

$team-switcher-bg: #212327;

$dialog-primary-bg: #2F3136;
$dialog-secondary-bg: #212327;

$button-primary-text: #212327;

$button-secondary: #898A8C;
$button-secondary-active: #4A4C4F;
$button-secondary-text: #212327;

$button-tertiary-text: #212327;

